@media only screen and (max-width: 1199px) {
    .navbar-brand{
        display: none;
    }
    footer .link-block a{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 992px) {
    .navbar-brand{
        display: block;
    }
    .search-bar{
        padding-bottom: 5px;
    }
    .item-block{
        margin-top: 50px;      
    }
    .item:first-of-type{
        margin-top: 30px;
    }
    .item{
        margin-bottom: 10px;
        margin-top: 10px;
        margin: auto;
    }
    .strengths .strenghts-heading{
        text-align: center;
    }
    .strengths .text-side {
        margin: auto;
    }
    .strengths .image-side {
        padding-left: 20%;
    }
    .special{
        margin-top: 440px;
    }
    .reviews{
        text-align: center;
    }
    .reviews .ahmed-side {
        margin-top: 400px;
    }
    .download .text-block{
        text-align: center;
        }
    .download .row {
        flex-direction: column-reverse;
    } 
    .download .image-block img{
        padding-left: 40%;
        height: 25vh;
    }
    footer{
        text-align: center;
        margin-top: 30px !important;
    }
}
@media only screen and (max-width: 767px) {
    .navbar-brand{
        display: block;
    }
    .strengths .image-side {
        padding-left: 10%;
    }
    .special{
        text-align: center;
    }
}
@media only screen and (max-width: 420px) {
    .strengths .image-side {
        display: none;
    }
    .special{
        margin-top: 0;
    }
    .download .image-block img{
        padding-left: 35%;
        height: 25vh;
    }
}
@media only screen and (max-width: 375px) {

}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 320px) {

}
