@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
// font-family: 'DM Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
// font-family: 'Rosario', sans-serif;

*{
    padding: 0;
    margin: 0;
}
nav {
    position: relative;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    // background-color: #C9C9C9;
    a{
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 18px;
        line-height: 24px; 
        color: #222222; 
        transition: 0.3s;
    }
    a:hover{
        transform: scale(1.1);
    }
    .navbar-brand {
        position: absolute;
        left: 50%;
    
    }
    .nav-item {
        margin-right: 40px;
        padding: 0 !important;
    }
    .active-click{
        display: none;
    }
    .search-bar{
        padding-right: 5px;
        
        .form-control{
            max-width: 150px;
            width: 100%;
            
        }
        .btn{
            max-width: 60px;
            width: 100%;
            padding: 5px 5px;
        }
    }
    .nav-right-block{
        align-items: center;
        a{
            margin-right: 30px;
            text-decoration: none;
            color: #fff;
            transition: 0.3s;
        }
        button{
            margin-right: 25px;
            text-decoration: none;
            color: #fff;
            transition: 0.3s;
            border: none;
            background: #fff;
        }    
        a:hover{
            transform: scale(1.1);
        }
        button:hover{
            transform: scale(1.1);
        }
        .btn{
            background-color: #09A66D;
            border-radius: 8px;
            padding: 10px 23px;
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 18px;
            line-height: 20px; 
            }
    }
}

.introduce {
    // background-color: #F3FBF8;
    background-image: url('../images/leafs.png'), linear-gradient(to right, #F3FBF8, #F3FBF8);
    background-repeat: no-repeat;
    background-position: top left ;

    h1{
        font-family: 'Rosario';
        font-weight: 700;
        font-size: 70px;
        line-height: 90px;
        padding-top: 92px ;
        color: #222222; 
    }
    .text-block{
        max-width: 637px;
        width: 100%;
        margin: 20px auto 40px;
        p{
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;        
            align-items: center;
            color: #555555; 
        }
    }
    .order-block{
        text-align: center;
        a{
            text-decoration: none;
            color: #222222;
            font-family: 'DM Sans';
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            padding-right: 20px;
            display: inline-block;
            transition: 0.5s;
            img{
                background-color: #09A66D;
                border: 15px solid #09A66D;
                border-radius: 50%;
                width: 64px;
                height: 64px;
            }
        }
        a:hover{
            transform:  rotate(360deg) scale(1.1);
        }
        
    }
    .workload{
        .vegetables-bg{
            background-image: url('../images/vegetables-no-bg.png'), linear-gradient(to right, #F3FBF8, #F3FBF8);
            background-repeat: no-repeat;
            background-position-x: 70px;
            background-size: 85%;
        }
        .item-block{
            margin-top: 15px;
            padding-bottom: 20px;
            
            .item {
                display: flex;
                max-width: 250px;
                width: 100%;
                align-items: center;
                margin-bottom: 60px;
                transition: 0.5s;
                .item-image{
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    margin-right: 25px;
                }
                .item-number{
                    display: flex;
                    flex-direction: column;
                    .number{
                        display: inline-block;
                        font-family: 'DM Sans';
                        font-weight: 400;
                        font-size: 48px;
                        line-height: 48px;
                        text-align: center;
                        color: #000000;
                        margin: 0;
                    }
                    .item-name{
                        display: inline-block;
                        font-family: 'DM Sans';
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30px;
                        text-align: center;
                        color: #000000;
                    }
                }
    
            }
            .item:hover{
                transform: scale(1.1);
            }
        }
        

    }
    
    
}
